@page
@model NF_Portal.Pages.NfPrograms.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NfProgram</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NfProgram.From)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NfProgram.From)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NfProgram.To)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NfProgram.To)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NfProgram.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NfProgram.Description)
        </dd>
    </dl>
</div>
<div>
    <h4>Veranstaltungen</h4>
    @if (Model.NfProgram.Editable)
    {
        <p>
            <a asp-page="../NfEvents/Create" asp-route-programId="@Model.NfProgram.Id"> Create New</a>
        </p>
    }

   @if (Model.NfProgram.NfEvents.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NfProgram.NfEvents.ToList()[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NfProgram.NfEvents.ToList()[0].EventDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NfProgram.NfEvents.ToList()[0].Person)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NfProgram.NfEvents.ToList()[0].IntroText)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.NfProgram.NfEvents)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EventDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Person)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IntroText)
                        </td>
                        <td>
                            @if (Model.NfProgram.Editable)
                            {
                                <span>
                                    <a asp-page="../NfEvents/Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-page="../NfEvents/Delete" asp-route-id="@item.Id">Delete</a> |
                                </span>
                            }                           
                            <a asp-page="../NfEvents/Details" asp-route-id="@item.Id">Details</a> 
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.NfProgram?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
